/*
html {
	background: #046169;
}

.container-fluid{
	background: #046169;
}

.modal-content{
    background: #10898d;
    border-color: white;
    border-width: 1.5px;
}


!*цвет, кнопки в меню*!
.btn.btn-default{
    background: #5bc0de;
    border-color: white;
    border-width: 1.5px;
    color: white;
    font-size: 12pt;
    min-width: 130px;
    margin-right: 4px;
}
!*цвет, кнопки в меню при наведении мышки*!
.btn.btn-default:hover,
.btn.btn-default:focus{
    background: #046169;
    border-color: white;
    color: white;
}
!*цвет кнопки при нажатии*!
.btn.btn-default:active{
    background: #10898d;
    border-color: white;
    color: white;
}

!*Скрываем маленькую поисковую строку на большом экране*!
#searchSmall{
	visibility: collapse;
}
!*Показываем большой поиск на большом экране*!
#searchBig{
	visibility: visible;
}

!*цвет, кнопки поиска в меню при наведении мышки*!
#bigSearchButton{
    background: #5bc0de;
    border-color: white;
    border-width: 1.5px;
    color: white;
    font-size: 12pt;
    width: auto;
	margin-left: 5px;
	text-align: center;
 }

!*цвет, кнопки поиска в меню при наведении мышки или фокус*!
#bigSearchButton:hover,
#bigSearchButton:focus{
    background: #046169;
    background-color: #046169;
    color: white;

}!*цвет, кнопки поиска в меню при нажатии*!
#bigSearchButton:active{
    background-color: #10898d;
    color: white;
}

!*цвет, кнопки поиска в меню при наведении мышки*!
#smallSearchButton{
	background: #5bc0de;
	border-color: white;
	border-width: 1.5px;
	color: white;
	margin: auto;
	text-align: center;
}

!*цвет, кнопки поиска в меню при наведении мышки или фокус*!
#smallSearchButton:hover,
#smallSearchButton:focus{
	background: #046169;
	background-color: #046169;
	color: white;

}!*цвет, кнопки поиска в меню при нажатии*!
#smallSearchButton:active{
	background-color: #10898d;
	color: white;
}

!*Убираем линии в развернутом меню на маленьком экране*!
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
	box-shadow: none;
}

!*Убираем белые линии в модальном окне*!
.modal-header ,.modal-footer {
    border-color: transparent;
    box-shadow: none;
}
!*Выравниваем кнопку Зарегистрироваться в модальном окне по центру*!
.modal-footer{
    text-align: center;
}

!*Делаем кнопку Зарегистрироваться на все окно регистрации*!
#register{
    width: 100%;
}
!* цвет фона и рамки навигационного меню *!
.navbar-default{
	background-color: #10898d;
	border-color: #10898d;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

}

!* Цвет пунктов навигационного меню *!
.navbar-default .navbar-nav > li > a {
	color: white;
}

!* цвет, размер текста, содержащий название сайта или бренда *!
.navbar-default .navbar-brand {
	color: white;
	font-size: 18pt;
}

!* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе *!
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: white;
}

!* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе *!
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: black;
}

!* Цвет обводки пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе *!
.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:focus {
	background: #5bc0de;
}

!* цвет, размер текста пункта меню *!
.nav-link{
	color: white;
	font-size: 12pt;
	font-weight: bold;

}
!*цвет и толщина линии обводки кнопки свернутого меню*!
.navbar-default .navbar-toggle{
	border-color: white;
	border-width: 2px;
}
!*цвет заливки кнопки сворачивающее меню меню*!
.navbar-default .navbar-header > button:hover,
.navbar-default .navbar-header > button:focus{
	background: #17A2B8;

}
.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(1) {
	transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(2) {
	transform: translate3d(0,0,0) rotate(0deg);
	background: white;
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(3) {
	transform: translate3d(0,0,0) rotate(0deg);
	background: white;
}

.navbar-toggle.minus .icon-bar:nth-of-type(1) {
	transform: translate3d(0,6px,0);
	background: white;
}

.navbar-toggle.minus .icon-bar:nth-of-type(3) {
	transform: translate3d(0,-6px,0);
	background: white;
}

!*Настраиваем надписи в окне регистрации*!
.col-form-label{
    color: white;
    font-size: 12pt;
    font-weight: bold;
}
!*Настраиваем заголовок в окне регистрации*!
.modal-title{
    color: white;
    font-size: 18pt;
}

#loginTitle {
	position: relative;
}

#loginTitle .required-icon {
	display: inline-block;
	vertical-align: middle;
	padding: 0.5em 0.8em;
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 0em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	transition: background 0.1s linear;
	font-size: 100%;
}

#loginTitle .required-icon {
	background-color: transparent;
	position: absolute;
	top: 29px;
	right: 0.4px;
	z-index: 10;
	margin: 0em;
	width: 32px;
	height: 32px;
	padding: 0em;
	text-align: center;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

#loginTitle .required-icon:after {
	position: absolute;
	content: "";
	right: 1px;
	top: 0px;
	z-index: -1;
	width: 0em;
	height: 0em;
	border-top: 0em solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 0px solid transparent;
	border-right-color: #5bc0de ;
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}

#loginTitle .required-icon .text {
	color: rgba(0, 0, 0, 0.65);
	font-size: 18px;
	font-weight: bold;
	margin: -3px 0 0 12px;
}

.tooltip.left .tooltip-inner {
	background-color:#046169;
	font-size: 15px;
	text-align: justify;
	opacity: 100;
}

!* sm-размер
(<=768px) *!
@media (max-width: 760px) {
#searchSmall {
	visibility: visible;
}
#searchBig{
	visibility: collapse;
}
.navbar-form{
	text-align: center;
}
.btn.btn-default
{
	width: 100%;
	margin-bottom: 5px;
}

}
!*@media (width: 768px)
{
	#formRegistration{
		margin-top: -44px;
	}
}*!


*/

.no-wrap-form {
	flex-flow: nowrap;
}

a.nav-link {
	white-space: nowrap;
}

.bg-dark {
	/*background-color: #4d4b47!important;*/
}