html {
	background: #046169;
}

.body {
	margin: 0 auto;
	background: #02474d;
}

.head {
	margin-bottom: 20px;
}


img {
	margin: 5px;
	border: black solid 5px;
}

#centerPanel{
	background: #02474d;
}

/*Смена цвета бордэра при наведении мыши*/
.nav-item:hover {
	background:#57acaf;
}

/*Смена цвета надписи при наведении мыши*/
.nav-item:hover a {
	color:#fff;
}

.nav-link{
	color: #fff;
	font-size: 18pt;
	font-weight: bold;

}

.btn-primary{
	margin-right: 5pt;
	width: 150px;
}

.form-control:focus {
	outline: 0 !important;
	border-color: initial;
	box-shadow: none;
}