<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:title="#{forum}">Форум</title>
	<link href="../static/css/main.css">
	<link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet"/>
</head>
<body>


<table class="table">
	<thead class="thead-dark">
	<tr>
		<th th:text="#{forum}">Форум</th>
		<th th:text="#{theme.amount}">Кол-во тем</th>
		<th th:text="#{theme.messages}">Кол-во сообщений</th>
		<th th:text="#{theme.last_modification}">Форум</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">1</th>
		<td>Warcraft</td>
		<td>20</td>
		<td>1000</td>
		<td>10.10.2017</td>
	</tr>
	<tr>
		<th scope="row">1</th>
		<td>Warcraft</td>
		<td>20</td>
		<td>1000</td>
		<td>10.10.2017</td>
	</tr>
	<tr>
		<th scope="row">1</th>
		<td>Warcraft</td>
		<td>20</td>
		<td>1000</td>
		<td>10.10.2017</td>
	</tr>
	</tbody>
</table>

<script src="../static/js/bootstrap.js"></script>

</body>
</html>