<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:title="#{main.page}">Главная страница</title>

	<link href="../static/css/main.css" th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		  integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

</head>
<body id="main">

<div class="container-fluid" id="headerPanel">
	<nav class="navbar navbar-expand-lg" style="background-color: #046169;">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Стримы</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Видео</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Клипы</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Турниры</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Помощь</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Пользователи</a>
				</li>
			</ul>
		</div>

		<div class="input-group col-md-4">
			<input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
			<span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
		</div>
		<!--Строка поиска-->
<!--		<form class="form-inline">
			<input class="form-control" type="search" placeholder="Найти">
			<button class="btn" type="submit">

			</button>
		</form>-->

		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Вход</button>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal">Регистрация
		</button>
	</nav>
</div>

<!-- Диалог регистрации -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel" th:text="#{registration}">Регистрация</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="email" class="col-form-label" th:text="#{registration.email}">e-mail</label>
						<input id="email" class="form-control" type="input"
							   th:placeholder="#{registration.email}"
							   placeholder="E-mail">
					</div>

					<div class="form-group">
						<label for="login" class="col-form-label">Логин</label>
						<input id="login" class="form-control" type="text"
							   th:placeholder="#{registration.login}"
							   placeholder="Логин">
					</div>

					<div class="form-group">
						<label for="password" class="col-form-label">Пароль</label>
						<input id="password" class="form-control" type="password"
							   th:placeholder="#{registration.password}"
							   placeholder="Пароль">
					</div>

					<button class="btn btn-dark" id="register" type="submit"
							th:text="#{registration.register}">Зарегистрироваться
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!--Центральная часть-->
<div class="center" id="centerPanel">
	<div class="row justify-content-center">
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
		<div class="col-md-3"><img src="https://picsum.photos/200"></div>
	</div>
</div>

<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>